* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-container {
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    box-shadow: 4px 8px 60px grey;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
}

.nav-icons {
    filter: invert(100%);
}

nav .nav-list ul {     
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul {
    list-style-type: none;
}


.bold {
    font-weight: bold;
}

.logo {
    width: 120px;
}

.img-container {
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.img-container div img {
    display: flex;
    width: 400px;
}

#heart-icon:hover{
    color: red;
}

#heart-icon{
    position: fixed;
    font-size: 40px;
    position: relative;
    bottom: 560px;
    left: 360px;
    background-color: white;
    padding: 3px 9px 3px 9px;
}

.label30 {
    position: relative;
    bottom: 80px;
    right: 46px;
    color: white;
    background-color: red;
    font-size: 0.7em;
    padding: 3px 8px 3px 8px;
}

.label50 {
    position: relative;
    bottom: 80px;
    right: 46px;
    color: white;
    background-color: red;
    font-size: 0.7em;
    padding: 3px 8px 3px 8px;
}

.green-label {
    position: relative;
    bottom: 80px;
    right: 46px;
    color: white;
    background-color: green;
    font-size: 0.7em;
    padding: 3px 8px 3px 8px;
}

.footer-container ul li {
    display: inline-block;
    font-size: 0.7em;
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1a1a1a;
    justify-content: space-around;
    gap: 18em;
    color: white;
    height: 80px;
}

#socialicon {
    background-color: white;
    border-radius: 10%;
    width: 18px;
    padding: 2px;
}